.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 1.5rem 0;
  gap: 2rem;
  padding-top: var(--space-2x);
  padding-bottom: var(--space-2x);
}

.right {
  max-width: 500px;
}
